# virtual environment
venv/
ENV/
.venv/
env/

# environment variables
.env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# ruff cache
.ruff_cache/

# remove all output files
output/*.md
!output/README.md

# others
.coverage